@model ChangePasswordVm

@{
    var message = TempData["Message"] as string;
}

<form id="changePasswordForm" role="form" asp-action="ChangePassword" method="post">
    <div class="form">
        <h1 class="message">@message</h1>      
        <div asp-validation-summary="All" class="error-text"></div>

        <label for="Email" class="update-title">Email</label>
        <input type="text" name="Email" id="Email" class="form-input" />
        <span asp-validation-for="Email" class="error-text"></span>

        <label for="NewPassword" class="update-title">New password</label>
        <input type="text" name="NewPassword" id="NewPassword" class="form-input" />
        <span asp-validation-for="NewPassword" class="error-text"></span>

        <label for="Token" class="update-title">Token</label>
        <input type="text" name="Token" id="Token" class="form-input" />
        <span asp-validation-for="Token" class="error-text"></span>

        <button type="submit" class="form-btn">Update</button>
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#changePasswordForm').submit(function (event) {
                event.preventDefault();

                var formData = {
                    email: $('#Email').val(),
                    newPassword: $('#NewPassword').val(),
                    token: $('#Token').val()
                };

                $.ajax({
                    url: '@Url.Action("ChangePassword", "User")',
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function (response) {
                        if (response.errors) {
                            $('.error-text').text('');

                            $.each(response.errors, function (key, value) {
                                $('#' + key).next('.error-text').text(value);
                            });
                        } else {
                            window.location.href = response.redirectToUrl;
                        }
                    },
                    error: function (xhr) {
                        console.log(xhr.responseText);
                    }
                });
            });
        });
    </script>
}
