@inject JwtHelper JwtHelper

<form id="deleteTwoFactorAuth" role="form" asp-action="ConfirmDeletingTwoFactorAuth" method="post">
    <div class="form">
        <div asp-validation-summary="All" class="error-text"></div>

        <label for="Code" class="update-title">Code</label>
        <input type="text" name="Code" id="Code" class="form-input" />

        <button type="submit" class="form-btn">Remove two-factor</button>
    </div>
</form>

<script>
    $(document).ready(function() {
        $('#deleteTwoFactorAuth').submit(function(event) {
            event.preventDefault();

            var code = $('#Code').val();
            var model = {
                Email: '@JwtHelper.GetClaimFromToken("email")',
                Code: code
            };

            $.ajax({
                url: '@Url.Action("ConfirmDeletingTwoFactorAuth", "User")',
                type: 'DELETE',
                contentType: 'application/json',
                data: JSON.stringify(model),
                success: function(response) {
                    window.location.href = response.redirectUrl;
                },
                error: function(xhr, status, error) {
                    alert("Error: " + error);
                }
            });
        });
    });
</script>
