@model SendResetPasswordCodeVm

@{
    var message = TempData["Message"] as string;
}

<div class="form">
    <form asp-action="SendPasswordResetCode" method="post" role="form" id="loginForm">
        <h1>Send reset code</h1>
        <h1 class="message">@message</h1>

        <div asp-validation-summary="All" class="error-text"></div>

        <div class="form-content">
            <input asp-for="Email" class="form-input" type="email" placeholder="Email" />
            <span asp-validation-for="Email" class="error-text"></span>
        </div>

        <input type="submit" class="form-btn" value="Send reset code" />
    </form>
</div>