@inject JwtHelper JwtHelper
@inject IHttpContextAccessor HttpContextAccessor

@{
    var isTwoFactoreAuthEnabled = JwtHelper.GetClaimFromToken("EnabledTwoFactorAuth");
}

<div class="form">
    <form asp-action="SendPasswordResetCode" method="post" role="form" id="loginForm">
        <h1>Manage Two Factor Code</h1>
        <div asp-validation-summary="All" class="error-text"></div>

        <div class="form-content">
            @if (isTwoFactoreAuthEnabled == "False")
            {
                <input asp-controller="User" asp-action="SendTwoFactorCodeAuthForAdd" asp-route-email="@JwtHelper.GetClaimFromToken("email")" type="submit" class="form-btn" value="Add Two Factor Authentication" />
            }
            @if (isTwoFactoreAuthEnabled == "True")
            {
                <input asp-controller="User" asp-action="SendTwoFactorCodeAuthForDelete" asp-route-email="@JwtHelper.GetClaimFromToken("email")" type="submit" class="form-btn" value="Delete Two Factor Authentication" />
            }
        </div>
    </form>
</div>